<head>



</head>

<body> 
<p>
<hr/>
Andrian Balanescu este un mujiciok adevarat </br>
</br>
<hr/>
</br>
<h2>Flom@aster</h2>
</p>

<ol start="3">

    <li><b>Invata la perfectie HTML ,CSS si Javascript bad boy</b> </li>
    <li>Studiaza in fiecare zi cateva ore intensiv</li>
    <li><code>Relaxeazate in timp ce lucrezi si mediteaza in timp</code></li>
    <li>Lucreaza cel putin 12 ore zilnic pentru ca trebu</li>
    <li>Creaza niste proecte interesante care se pot monetiza usor</li>
    <li>Mai adauga cate ceva la aceasta lista in timp si spatiu :0</li>
    <li><em>Aceasta linie este emfasaized :)</em></li>
</ol>

<center><p>
	<font size="7" face="Georgia, Arial" color="maroon">F</font>Lomaster rupe tzepu <br />
	<font size="7" face="Georgia, Arial" color="green">L</font>a programat cum trebu<br />
	<font size="7" face="Comic Sans" color="blue">O</font>leaca :) ma pricep eu<br />
</p>
<font size="6" color="green">Radio</font> <br />
<hr/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PQ22pgaXog4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
<br />
<a href="http://www.tutorialehtml.com" target="_blank" title="Tutoriale HTML">Tutoriale HTML</a>
<br />
<a href="mailto:usahighkey@gmail.com?subject=Nelamuriri" title="Trimite nelamuriri">Nelamuriri aici </a>
<br />
<form method="post" action="mailto:flomastermod@gmail.com">
        Preferinte muzicale 
        <select multiple name="music" size="4">
            <option value="emo" selected>Emo</option> 
            <option value="metal/rock" >Metal/Rock</option> 
            <option value="hiphop" >Hip Hop</option> 
            <option value="ska" >Ska</option> 
            <option value="jazz" >Jazz</option> 
            <option value="country" >Country</option> 
            <option value="classical" >Classical</option> 
            <option value="alternative" >Alternative</option> 
            <option value="oldies" >Oldies</option> 
            <option value="techno" >Techno</option> 
        </select> 
        <input type="submit" value="Email Yourself" />
    </form>

    <br />
    <form method="post" action="mailto:youremail@email.com">
            <textarea rows="5" cols="20" wrap="physical" name="comments">Scrie un comentariu</textarea>
            <input type="submit" value="Email Yourself" />
        </form>
        <br />
        <table border="2">
                <tr>
                    <td>Randul 1 Coloana 1</td>
                    <td>Randul 1 Coloana 2</td>
                </tr>
                <tr>
                    <td>Randul 2 Coloana 1</td>
                    <td>Randul 2 Coloana 2</td>
                </tr>
            </table><center>
            <table border="1" cellspacing="10" cellpadding="10" bgcolor="rgb(0,255,0)"> 
                    <tr> 
                        <th>Coloana 1</th>
                        <th>Coloana 2</th> 
                    </tr> 
                    <tr>
                        <td>Randul 1 Coloana 1</td>
                        <td>Randul 1 Coloana 2</td>
                    </tr>
                    <tr>
                        <td>Randul 2 Coloana 1</td>
                        <td>Randul 2 Coloana 2</td>
                    </tr> 
                </table>
                <table>
                        <tr>
                            <td bgcolor="#009900"><font color="#FFFF00">Steaua</font></td>
                            <td bgcolor="#000000"><font color="#FFFFFF">27</font></td>
                        </tr>
                        <tr>
                            <td bgcolor="#0000FF"><font color="#DDDDDD">Dinamo</font></td>
                            <td bgcolor="#000000"><font color="#FFFFFF">20</font></td>
                        </tr>
                    </table>
            </center>
</body>
